 <div class="modal-header">
                        <div class="mensagem text-success" th:if="${msgSucesso} != null">
                            Parabens!!
                        </div>
                        <div class="mensagem text-danger" th:if="${msgErro} != null">
                            Oh não...
                        </div>
                    </div>
<div class="modal-body">
    <div>
        <div class="mensagem text-success" th:if="${msgSucesso} != null">
            <b th:text="${msgSucesso}">
        </div>
        <div class="mensagem text-danger" th:if="${msgErro} != null">
            <b th:text="${msgErro}">
        </div>
    </div>
</div>