 <div class="modal-header" style="border:none;">
                        <div class="mensagem text-success" th:if="${msgSucesso} != null">
                           <b style="font-size: 20px;">Parabens!!</b >  
                        </div>
                        <div class="mensagem text-danger" th:if="${msgErro} != null">
                            <b style="font-size: 20px;">Oh não...</b >
                        </div>
                    </div>
<div class="modal-body">
    <div>
        <div class="mensagem text-success" th:if="${msgSucesso} != null">
            <b th:text="${msgSucesso}">
        </div>
        <div class="mensagem text-danger" th:if="${msgErro} != null">
            <b th:text="${msgErro}">
        </div>
    </div>
</div>

<div class="modal-footer" style="border:none;">
	    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	    <button type="button" class="btn btn-primary" th:if="${msgSucesso} != null">Prosseguir</button>
	</div>