<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
   	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
  	 <link href="/css/style.css" rel="stylesheet">    
    <title>Simulador de defeitos</title>
	
	
	
</head>

<body>
    <div class="container">
        <div id="conteudo">
            <div class="title">
                <h1>SIMULADOR DE<br /> DEFEITOS</h1>
            </div>
            <div class="botoes">
                <div id="botao-iniciar">
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Iniciar</button>

                    <button class="btn nBtn" data-bs-toggle="modal" data-bs-target="#exampleModal1">Cadastrar</button>
                </div>
            </div>
            <div class="footer">
                <h4>DESENVOLVIDO POR GABRIEL & NELLYSON</h4>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="border:none;">
                        <h5 class="modal-title" id="exampleModalLabel" style="margin-left: auto; margin-right: auto;">
                            Login</h5>
                    </div>
                    <div class="modal-body">
                        <div th:replace="/usuario/login"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="myForm">
           
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div th:replace="_modal_index"></div >
                </div>    
        </div>
    </div>
    
    <script>
      
      	$(document).ready(function(){
			$("#btn-submit").on("click", function(){
			
				$.ajax({
					method: "GET",
					url: "/usuarios/salvar?nome=" + document.getElementById("nome").value + 
							"&email=" + document.getElementById("email").value + 
							"&senha=" + document.getElementById("senha").value,
					success: function (data){
						$("#exampleModal1").html(data);
					}
				});
			})
		})
      
      </script>
    
	 
	 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>