body{
    margin: 0;
}
@font-face {
    font-family: "compacta-bt";
    src: url("/font/compacta-bt.ttf");
 
 }
.main-login{
    width: 100vw;
    height: 100vh;
	background: linear-gradient(45deg,#8370fd,#3542f1,#9f95fc,#8370fd);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h4{
    color: white;
    display: inline;
    font-size: 12.5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
    margin: 0;   
}
.left-login > h1{
    font-family: "compacta-bt";
    font-weight: 2;
    margin: 0;
    color: white;
    font-size: 5vw;
}
.left-login-image{
width: 43vw;
}
.right-login{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6);
}
.card-login > h1{
    color: #24158b;
    font-weight: 800;
    margin: 0;
}
.text-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}
.text-field > input{
    width: 100%;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    padding: 15px;
    background: none;
    color: #1d2129;
    font-size: 12px;
    outline: none;
    box-sizing: border-box;
}.text-field > input::placeholder{
    color: #f0ffff94;
}
.text-field>label{
    color: #24158b;
    margin-bottom: 10px;
}
.btn-login{
    width: 100%;
    padding: 16px 0;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    background: #24158b;
    color: #fff;
    cursor: pointer;
}
.btn-login:hover{
    background: #24158b;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        backgrou    nd-position: 0% 50%;
    }