@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins',sans-serif;
}
body{
	background: linear-gradient(45deg,#8370fd,#3542f1,#9f95fc,#321cc5);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.container{
	background-color: white;
    position: relative;
    max-width: 90%;
    height: 90%;
    min-height: 80vh;
    border-radius: 20px;
    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
    border: 1px solid #fff;
}
.menuDiv{
    width: 100px;
    position: absolute;
    margin: 5px;
}
.menu{
    display: flex;
    margin: 5px;
    font-size: 2.3rem;
}
.esq{
    position: absolute;
    top: 0;
    left: 0;
}
.dir{
    position: absolute;
    top:0;
    right: 0;
}
a{
    text-decoration: none;
    color: black;
}
.opcao-esq{
    display: none;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    height: 100vh;
    max-width: 30%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 6px 7px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.3 ease-in;
}
.opcao-dir{
    display: none;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100%;
    height: 100vh;
    max-width: 30%;
    width: 100%;
    border-radius: 20px;
    box-shadow: -6px 7px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.3 ease-in;
}
.title-opcao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.close{
    position: absolute;
    right: 0;
    margin: 10px;
    font-size: 25px;
}
#close2{
    left: 0;
    right: auto;
}

#cent{
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#centro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#computer{
    width: 200px;
}
#computer img{
    width: 100%;
}
.bloco{
    position: relative;
    width: 300px;
    height:110px;
    margin: 5px 0 5px 0;
    border-radius: 20px;
}
.mensagem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    overflow-y: scroll;
}
.icone{
    position: absolute;
    bottom: 5px;
    right: 7px;
}
.mensagem::-webkit-scrollbar{
    width: 0.5em !important;
    scroll-behavior: smooth !important;
}
.mensagem::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2) !important;
    outline: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
    
}
.bloco p{
    margin: auto 5px auto 5px;
    font-size: 10pt;
    text-align: center;
}
.box{
    margin-top: auto;
    margin-bottom: auto;
}
.box-comp{
    width: 100%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.componente{
    margin-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    padding: 10px 7px;
    width: 70%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.35);
    border: 1px solid #fff; 
    cursor: pointer;
}
.componente:hover{
    border-color: #4c3eaa; 
    color: #000;
}
.hidden{
    display: none;
}

input[type=radio]:checked + .componente{
    background-color: #4c3eaa;
    color: #fff;
}
.btn-box{
	position: absolute;
	bottom: 2.5rem;
    left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.botaozin{
	width: 100px;
	padding: 10px;
	border-radius: 10px;
    border: 1px solid #4c3eaa;
	background: none;
	color:#4c3eaa;
	font-size: 0.8rem;
	letter-spacing: 2px;
    transition: 0.5s;
}
.botaozin:hover{
    background: #4c3eaa;
    color:white;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

}
